
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: sans-serif;
    background-color: #e0e0e0;
    color: #444;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
  }
  
  .container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 3rem;
    flex-direction: row;
    align-items: center;
    
  }
  .main-content {
    padding-top: 0;
  }
  
  .main-header-container {
    background: #13141f;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
  }
  
  .main-logo {
    font-size: 4rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }
  
  .main-logo-icon {
    margin-right: 2rem;
  }
  .main-footer {
    background: #13141f;
    color: #fff;
    padding: 2rem 0;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }
  
  .main-footer .container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 1rem; 
  }
  
  .main-footer a {
    color: #fff;
    text-decoration: none;
    transition: all 300ms ease-in-out;
  }
  
  .main-footer a:hover {
    filter: brightness(.8);
    }.menu-home {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 50px auto;
      padding: 20px;
      background-color: #f5f5f5;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      width: 80%;
      max-width: 800px;
  }
  
  .menu-category {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  
  .menu-category button {
      padding: 12px 24px;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #17181b;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  .menu-category button:hover {
      background-color: #1e1f22;
  }
  
  .submenu {
      position: relative;
      display: none;
      margin-top: 8px;
      padding: 12px;
      background-color: #f0f0f0;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: 100%;
      max-width: 300px;
  }
  
  .menu-category:hover .submenu {
      display: block;
  }
  
  .submenu a {
      display: block;
      padding: 10px 20px;
      font-size: 1.6rem;
      text-align: center;
      text-decoration: none;
      color: #ffffff;
      background-color: #17181b;
      border-radius: 8px;
      margin-top: 8px;
      transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .submenu a:hover {
      background-color: #1e1f22;
      transform: translateY(-3px);
  }
    


  .formulario{
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .formulario label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .formulario input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formulario button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formulario button:hover {
    background-color: #45a049;
  }
  .formulario select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    color: #444;
  }
  
  .formulario option {
    font-size: 1.6rem;
    text-align: center;
    color: #444;
  }

.tabela table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  margin-top: 25px;
  overflow-x: auto;
  overflow-y:auto;
}
.tabela th,td{
  padding: 1rem;
  text-align: left;
}
.tabela thead {
  background-color: #13141f;
  color: white;
}
.tabela tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela tbody tr:hover {
  background-color: #ddd;
}



.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1000;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.popup-content {
  text-align: left;
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content .block {
  margin-bottom: 15px;
}

.popup-content .block label {
  font-weight: bold;
}

.popup-content button {
  padding: 8px 12px;
  background-color: #262d34;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
}

.popup-content button:hover {
  background-color: #49515a;
}
.botao {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.6rem; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: #444; 
  border: 2px solid transparent; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.botao:hover {
  background-color: #ccc;
  color: #000;
  border-color: #ccc;
}

.container {
  display: flex;  
  justify-content: space-between; 
  flex-wrap: wrap;
}

.grafico-container {
  flex: 1 1 45%; 
  margin: 2rem 1%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.grafico-container h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  color: #444;
}

.grafico-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.botao2{
  display: flex;
  padding: 5px 5px;
  font-size: 1.6rem; 
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  background-color: #13141f;
  color: #ffffff;
  border: 2px solid transparent; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 2rem;
}
.botao2:hover{
  background-color: #000000;
}
.grafico-tabela-container {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start; 
}

.grafico-img-alternativo {
  max-width: 50%; 
  margin-right: 2%; 
}

.tabela-despesas-container {
  flex: 1; 
}
