<div class="menu-home">
    <a href="{% url 'cadastrar_produto' %}" class="butao-menu-home">Cadastrar Produto</a>
    <a href="{% url 'cadastro_fornecedor' %}" class="butao-menu-home">Cadastrar Fornecedor</a>
    <a href="{% url 'estoque' %}" class="butao-menu-home">Verificar Estoque</a>
    <a href="{% url 'lista_fornecedores' %}" class="butao-menu-home">Lista de Fornecedores</a>
    <a href="{% url "vendas" %}" class="butao-menu-home">Registrar Vendas</a>
    <a href="#" class="butao-menu-home">Relatório</a>
</div>
