<div class="tabela">
    <table>
        <thead>

            <th>Produto</th>
            <th>quantidade</th>
            <th>Fornecedor</th>
            <th>Opções</th>
        </thead>

        <tbody>

            {% for produto in produto%}
            <tr>
                <td>{{produto.nome}}</td>
                <td>{{produto.quantidade}}</td>
                <td>{{produto.fornecedor}}</td>
                <td> <a href="{% url "editar_produto" produto.id%}" class="botao"><i class="fas fa-edit"></i>editar</a>

                <form action="{% url 'excluir_produto' produto.id %}" method="post">
                    {% csrf_token %}
                    <button class="botao" type="submit"><i class="fas fa-trash"></i> excluir</button>
                </td>
                </form>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
