<div class="tabela">
    <h2>Tabela de Vendas Mensais</h2>
    <table id="tabela-recebimento">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Data da Venda</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for vendas in vendas_mes %}
            <tr>
                <td>{{ vendas.produto.nome }}</td>
                <td>{{ vendas.quantidade }}</td>
                <td>{{ vendas.data_venda|date:"d/m/Y" }}</td>
                <td>{{ vendas.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="ver-mais-btn" class="botao2">Ver Mais</button>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var verMaisBtn = document.getElementById('ver-mais-btn');
        var tabelaRecebimento = document.getElementById('tabela-recebimento').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        var linhasVisiveis = 4; 
    
        for (var i = linhasVisiveis; i < tabelaRecebimento.length; i++) {
            tabelaRecebimento[i].style.display = 'none';
        }
    
        function alternarLinhas() {
            for (var i = linhasVisiveis; i < tabelaRecebimento.length; i++) {
                if (tabelaRecebimento[i].style.display === 'none') {
                    tabelaRecebimento[i].style.display = 'table-row';
                } else {
                    tabelaRecebimento[i].style.display = 'none';
                }
            }
    
            if (verMaisBtn.textContent === 'Ver Mais') {
                verMaisBtn.textContent = 'Ver Menos';
            } else {
                verMaisBtn.textContent = 'Ver Mais';
            }
        }
    
        verMaisBtn.addEventListener('click', alternarLinhas);});
</script>
