<div class="tabela">
    <table>
        <thead>
            <tr>
                <th>nome</th>
                <th>telefone</th>
                <th>documento</th>
                <th>opções</th>
            </tr>
        </thead>

        <tbody>
            {% for clientes in clientes %}
                <tr>
                    <td>{{clientes.nome}}</td>
                    <td>{{clientes.telefone}}</td>
                    <td>{{clientes.documento}}</td>
                    <td>
                        <a href="{% url 'editar_cliente' clientes.id %}" class="botao"> <i class="fas fa-edit"></i>editar</a>
                        <form action="{% url 'excluir_cliente' clientes.id %}" method="POST">
                            {% csrf_token %}
                            <button class="botao" type="submit"><i class="fas fa-trash"></i> excluir</button>
                        </td>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>