
<div class="tabela">
    <div id="tabela-container2">
        <table id="tabela-pagamentos2">
            <thead>
                <tr>
                    <th>Fornecedor</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data de Vencimento</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for pagamento in pagamento %}
                <tr>
                    <td>{{ pagamento.fornecedor }}</td>
                    <td>{{ pagamento.descricao }}</td>
                    <td>{{ pagamento.valor }}</td>
                    <td>{{ pagamento.data_vencimento }}</td>
                    <td>{{ pagamento.status }}</td>
                    <td> <a href="{% url "editar_pagamento" pagamento.id %}" class="botao"><i class="fas fa-edit"></i>editar</a>
                        <form action="{% url "excluir_despesas" pagamento.id %}" method="POST">
                        {% csrf_token %}
                        <button class="botao"><i class="fas fa-trash"></i>excluir</button>
                    </form>
                    </td>                  
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button id="ver-mais-btn" class="botao2">Ver Mais</button>
    </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var verMaisBtn = document.getElementById('ver-mais-btn');
    var tabelaPagamentos2 = document.getElementById('tabela-pagamentos2').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    var linhasVisiveis = 3; 

    for (var i = linhasVisiveis; i < tabelaPagamentos2.length; i++) {
        tabelaPagamentos2[i].style.display = 'none';
    }

    function alternarLinhas() {
        for (var i = linhasVisiveis; i < tabelaPagamentos2.length; i++) {
            if (tabelaPagamentos2[i].style.display === 'none') {
                tabelaPagamentos2[i].style.display = 'table-row';
            } else {
                tabelaPagamentos2[i].style.display = 'none';
            }
        }

        if (verMaisBtn.textContent === 'Ver Mais') {
            verMaisBtn.textContent = 'Ver Menos';
        } else {
            verMaisBtn.textContent = 'Ver Mais';
        }
    }

    verMaisBtn.addEventListener('click', alternarLinhas);});
</script>