{% include "partials/head.html" %}

<header class="main-header-container">
  <div class="main-header container">
    <h1>
      <a class="main-logo" href="{% url 'home' %}">
        <i class="fas fa-chart-line"></i>
        <span class="main-logo-text">Dashboard</span>
      </a>
    </h1>
  </div>
</header>

<div class="container">
  <div class="grafico-container">
    <h2>Vendas Mensais</h2>
    <img class="grafico-img" src="data:image/png;base64,{{ grafico_vendas_mes }}" alt="Gráfico Vendas Mensais">
  </div>

  <div class="grafico-container">
    <h2>Produtos Mais Vendidos</h2>
    <img class="grafico-img" src="data:image/png;base64,{{ grafico_mais_vendidos }}"
      alt="Gráfico Produtos Mais Vendidos">
  </div>
</div>

<div class="grafico-tabela-container grafico-container">
  <img class="grafico-img-alternativo" src="data:image/png;base64,{{image_faturamento_png}}" >
  {% include "partials/tabela_recebimento_mes.html" %}
</div>

<div class="grafico-container">
  <h1>Lista de Pagamentos a Fornecedores</h1>
  {% include "partials/tabela_despesas.html" %}
</div>

<div class="grafico-tabela-container grafico-container">
  <img class="grafico-img-alternativo" src="data:image/png;base64,{{ image_despesas_png }}"
    alt="Gráfico Produtos Mais Vendidos">
  {% include "partials/tabela_despesas_fornecedores.html" %}
</div>