{% include "partials/head.html" %}
<div class="formulario">
    <form method="POST">
        {% csrf_token %}

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" value="{{cliente.nome}}">

        <label for="telefone">Telefone</label>
        <input type="tel" name="telefone" id="telefone" value="{{cliente.telefone}}">

        <label for="documento">CNPJ/CPF</label>
        <input type="text" name="documento" id="documento" value="{{cliente.documento}}">


        <button type="submit">Salvar alterações</button>
    </form>
</div>