{% include "partials/head.html" %}
{% include "partials/header.html" %}
<div class="tabela">
    <table>
        <thead>
            <tr>
                <th>Fornecedor</th>
                <th>Contato</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in fornecedor %}
                <tr>
                    <td class="nome-fornecedor" data-nome="{{ fornecedor.nome_fornecedor }}" 
                        data-telefone="{{ fornecedor.telefone }}" 
                        data-documento="{{ fornecedor.documento }}"
                        data-rua="{{ fornecedor.rua }}"
                        data-numero="{{ fornecedor.numero }}"
                        data-bairro="{{ fornecedor.bairro }}"
                        data-cidade="{{ fornecedor.cidade }}"
                        data-estado="{{ fornecedor.estado }}">
                        {{ fornecedor.nome_fornecedor }}
                    </td>
                    <td>{{ fornecedor.telefone }}</td>
                    <td><a href="{% url 'editar_fornecedor' fornecedor.id %}"><i class="fas fa-edit"></i> editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="popup" class="popup">
    <div class="popup-content">
        <div class="block">
            <label id="popupNomeLabel"></label>
            <p id="popupNome"></p>
        </div>
        <div class="block">
            <label id="popupContatoLabel"></label>
            <p id="popupContato"></p>
        </div>
        <div class="block">
            <label id="popupDocumentoLabel"></label>
            <p id="popupDocumento"></p>
        </div>
        <div class="block">
            <label id="popupEnderecoLabel"></label>
            <p id="popupEndereco"></p>
        </div>
        <button onclick="fecharPopup()">Fechar</button>
    </div>
</div>

<script>
    document.querySelectorAll('.nome-fornecedor').forEach(function(element) {
        element.addEventListener('click', function() {
            var nome = element.getAttribute('data-nome');
            var telefone = element.getAttribute('data-telefone');
            var documento = element.getAttribute('data-documento');
            var rua = element.getAttribute('data-rua');
            var numero = element.getAttribute('data-numero');
            var bairro = element.getAttribute('data-bairro');
            var cidade = element.getAttribute('data-cidade');
            var estado = element.getAttribute('data-estado');

            var popupNome = document.getElementById('popupNome');
            var popupContato = document.getElementById('popupContato');
            var popupDocumento = document.getElementById('popupDocumento');
            var popupEndereco = document.getElementById('popupEndereco');

            popupNome.textContent = "Fornecedor: " + nome;
            popupContato.textContent = "Contato: " + telefone;
            popupDocumento.textContent = "Documento: " + documento;
            popupEndereco.textContent = "Endereço: " + rua + ", " + numero + " - " + bairro + ", " + cidade + ", " + estado;

            var popup = document.getElementById('popup');
            popup.style.display = 'block';
        });
    });

    function fecharPopup() {
        var popup = document.getElementById('popup');
        popup.style.display = 'none';
    }
</script>
