{% include "partials/head.html" %}
{% include "partials/header.html" %}

<div class="tabela">
    <table id="tabela-fornecedor" class="tabela-custom">
        <thead>
            <tr>
                <th>Fornecedor</th>
                <th>Contato</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in fornecedor %}
                <tr>
                    <td class="nome-fornecedor" data-nome="{{ fornecedor.nome_fornecedor }}" 
                        data-telefone="{{ fornecedor.telefone }}" 
                        data-documento="{{ fornecedor.documento }}"
                        data-rua="{{ fornecedor.rua }}"
                        data-numero="{{ fornecedor.numero }}"
                        data-bairro="{{ fornecedor.bairro }}"
                        data-cidade="{{ fornecedor.cidade }}"
                        data-estado="{{ fornecedor.estado }}">
                        {{ fornecedor.nome_fornecedor }}
                    </td>
                    <td>{{ fornecedor.telefone }}</td>
                    <td>
                        <a href="{% url 'editar_fornecedor' fornecedor.id %}" class="botao"><i class="fas fa-edit"></i> editar</a>
                        <form action="{% url 'excluir_fornecedor' fornecedor.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button class="botao" type="submit"><i class="fas fa-trash"></i> excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="ver-mais-btn botao2">Ver Mais</button>
</div>

<div id="popup" class="popup">
    <div class="popup-content">
        <div class="block">
            <label id="popupNomeLabel">Nome:</label>
            <p id="popupNome"></p>
        </div>
        <div class="block">
            <label id="popupContatoLabel">Contato:</label>
            <p id="popupContato"></p>
        </div>
        <div class="block">
            <label id="popupDocumentoLabel">CNPJ/CPF:</label>
            <p id="popupDocumento"></p>
        </div>
        <div class="block">
            <label id="popupEnderecoLabel">Endereço:</label>
            <p id="popupEndereco"></p>
        </div>
        <button onclick="fecharPopup()">Fechar</button>
    </div>
</div>

<script>
    document.querySelectorAll('.nome-fornecedor').forEach(function(element) {
        element.addEventListener('click', function() {
            var nome = element.getAttribute('data-nome');
            var telefone = element.getAttribute('data-telefone');
            var documento = element.getAttribute('data-documento');
            var rua = element.getAttribute('data-rua');
            var numero = element.getAttribute('data-numero');
            var bairro = element.getAttribute('data-bairro');
            var cidade = element.getAttribute('data-cidade');
            var estado = element.getAttribute('data-estado');

            document.getElementById('popupNome').textContent = nome;
            document.getElementById('popupContato').textContent = telefone;
            document.getElementById('popupDocumento').textContent = documento;
            document.getElementById('popupEndereco').textContent = `${rua}, ${numero} - ${bairro}, ${cidade}, ${estado}`;

            document.getElementById('popup').style.display = 'block';
        });
    });

    function fecharPopup() {
        document.getElementById('popup').style.display = 'none';
    }

    document.addEventListener('DOMContentLoaded', function() {
        const verMaisBtn = document.querySelector('.ver-mais-btn');
        const linhasVisiveis = 3;
        const tabelaFornecedor = document.querySelectorAll('.tabela-custom tbody tr');

        if (tabelaFornecedor.length > linhasVisiveis) {
            for (let i = linhasVisiveis; i < tabelaFornecedor.length; i++) {
                tabelaFornecedor[i].style.display = 'none';
            }

            verMaisBtn.style.display = 'block'; // Ensure the button is displayed

            verMaisBtn.addEventListener('click', function() {
                let allHidden = true;
                for (let i = linhasVisiveis; i < tabelaFornecedor.length; i++) {
                    if (tabelaFornecedor[i].style.display === 'none') {
                        tabelaFornecedor[i].style.display = 'table-row';
                        allHidden = false;
                    } else {
                        tabelaFornecedor[i].style.display = 'none';
                    }
                }
                verMaisBtn.textContent = allHidden ? 'Ver Mais' : 'Ver Menos';
            });
        } else {
            verMaisBtn.style.display = 'none'; // Hide button if no extra rows
        }
    });
</script>

